#lightbox{
    display: none;
    position:fixed; 
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .90);
    z-index: 15;
    overflow: auto;
    animation: lightboxIn .5s;
}
/* Vector */
.lightbox__close{
    background: url('../assets/icons/close.svg') center center / 42px 42px no-repeat transparent;
    width: 42px;
    height: 42px;
    border: none;
    text-indent: -4000px;
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 20;
}

.lightbox__next, 
.lightbox__prev{
    background: url('../assets/icons/arrow.svg') center center / 30px 48px no-repeat;
    width: 50px;
    height: 100%;
    border: none;
    position: fixed;
    top: 0;
    margin-top:-14px ;
    z-index: 11;
    opacity: .5;
    text-indent: -3000px;
    transition: .3s;
    cursor: pointer;
}

.lightbox__next:hover, 
.lightbox__prev:hover{
    opacity: 1;

}

.lightbox__next{
    left: auto;
    right: 50px;
    transform: rotate(180deg);
}

.lightbox__prev{
    left: 50px;
}

.lightbox__container img, .lightbox__container video{
    max-width: 1050px;
    height: 900px;
    object-fit: cover;
    animation: lightboxIn .5s;
}

#lightbox__container{
    position: absolute;
    right: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3%;
    align-items: center;
}
#lightbox__title{
    align-self: flex-start;
    color : #901C1C;
    font-size: 24px;
}
#content-lightbox{
    height: 700px;
    width: 850px;
    border-radius: 5px;
}
@keyframes lightboxIn {
    from {opacity: 0;}
    to{ opacity: 1;}
}