body{
    position: relative;
  
}
#photograph-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    padding: 0 3%;
    margin: 0 100px;
}
#gallery{
    margin: 0 100px;
}
#gallery #filter{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1%;
}

#images-gallery{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#images-gallery .cardMedia{
    margin: 1%;
    position: relative;
}

#images-gallery .cardMedia  .thumbnail{
    width: 450px;
    height: 400px;
    object-fit: cover;
    border-radius: 6px;  
}

#images-gallery .cardMedia .description .rent{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-end;
}


#images-gallery .cardMedia .description .rent p{
  font-size: 16px;
  font-weight: 800;
}

 #images-gallery .cardMedia .description .rent .fa-heart{
    font-size: 18px;
    color: #901C1C;
    opacity: 0.5;
    margin-left: 20%;

}
#images-gallery .cardMedia .description .rent .fa-heart.liked{
    opacity : 1; 
 }
#images-gallery .cardMedia .description{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
#images-gallery  .cardMedia .description .title{
    color: #901C1C;
    font-size: 24px;
    margin: 0;
 }

#photograph-header .photograph-avatar img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;

}

#video-controls{
    
    position: absolute;
    bottom:50%;
    right: 40%;
    width: 89px;
    height: 70px;
    
} 
#playpause{
    border: none;
    background: none;
}
#playpause i {
    font-size: 6em;
    color: white;
}
#likes_price{
    position: fixed;
    right: 70px;
    bottom: 0px;
    width: 376px;
    background: rgb(219, 136, 118);
    border-radius: 5px 5px 0 0;
    height: 89px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.banner_info p{
    padding-right: 20%;
    font-size: 24px;
}
.banner_info .fa{
    font-size: 24px;
}

#likes_price .info_price{
    font-size: 24px;
}
#likes_price .banner_info, #like_price .banner_info_price{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}
#photograph-header .photograph-avatar img::before, #photograph-header .photograph-info img::after {
    height: 400px;
    width: 400px;
}



.photograph-info{
    line-height: 1em;
}
.photographer_tagline{
    color: #525252;
    font-size: 18px;
}
.photographer_name{
    color: #D3573C;
    font-size: 64px;
}
.photographer_city{
    color: #901C1C; 
    font-size: 24px;
}

@media ( min-width: 768px) and (max-width:1024px) {
    main{
        width: 100%;
    }
    #photograph-header {
        margin: 0 39px;
    }
    .photograph-info {
        width: 30%;
    }
    .photographer_name {
       
        font-size: 35px;
        width: 100%;
        line-height: 37px;
    }
    .sortBy {
        display: flex;
        align-items: center;
        margin: 2% 6%;
        justify-content: start;
    }
    #images-gallery .cardMedia .thumbnail {
        width: 398px;
    }
    #images-gallery {
        justify-content: flex-start;
     
    }
    #gallery{
        margin: 0 auto;
        width: 100%;
    }
    #images-gallery .cardMedia {
        width: 40%;
        margin: 5%;
    }
}