body{
    position: relative;
  
}


#contact_modal {
    display: none;
}

#photograph-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    padding: 0 3%;
    margin: 0 100px;
}
#gallery{
    margin: 0 100px;
}
#gallery #filter{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1%;
}

#images-gallery{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#images-gallery .cardMedia{
    margin: 1%;
    position: relative;
}

#images-gallery .cardMedia  .thumbnail{
    width: 450px;
    height: 400px;
    object-fit: cover;
    border-radius: 6px;  
}

#images-gallery .cardMedia .description .likes{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-end;
}

#images-gallery .cardMedia .description .likes p{
  font-size: 16px;
  font-weight: 800;
}

 #images-gallery .cardMedia .description .likes .fa-heart{
    font-size: 18px;
    color: #901C1C;
    margin-left: 20%;

}
#images-gallery .cardMedia .description{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
#images-gallery  .cardMedia .description .title{
    color: #901C1C;
    font-size: 24px;
    margin: 0;
 }

#photograph-header .photograph-avatar img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;

}

#video-controls{
    
    position: absolute;
    bottom:50%;
    right: 40%;
    width: 89px;
    height: 70px;
    
} 
#playpause{
    border: none;
    background: none;
}
#playpause i {
    font-size: 6em;
    color: white;
}
#likes_price{
    position: fixed;
    right: 70px;
    bottom: 0px;
    width: 300px;
    background: rgb(219, 136, 118);
    border-radius: 5px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.banner_info p{
    padding-right: 20%;
}
#likes_price .banner_info, #like_price .banner_info_price{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}
#photograph-header .photograph-avatar img::before, #photograph-header .photograph-info img::after {
    height: 400px;
    width: 400px;
}



.photograph-info{
    line-height: 1em;
}
.photographer_tagline{
    color: #525252;
    font-size: 18px;
}
.photographer_name{
    color: #D3573C;
    font-size: 64px;
}
.photographer_city{
    color: #901C1C; 
    font-size: 24px;
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

#formContact {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

#formContact label {
    color: #312E2E;
    font-size: 36px;
}

#formContact div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

#formContact input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}