/* Selection Tri Par */
.sortBy
{
    display: flex;
    align-items: center;
}
.titleSort
{
    font-size: 18px;
    font-weight: 700;
    margin-right: 2em;
}
select
{
    width: 200px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../assets/icons/arrow-select-init.svg") #901C1C no-repeat 90% ; 
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}
select:hover
{
    cursor: pointer;
}
select:focus, select:active
{
    border: none;
    outline: none;
}


